<main class="px-3">
  <p class="lead">
    <h3 class="float-md-start mb-0">Homepage</h3>
    <%= link_to "Learn more", pages_about_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </p>
</main>

