<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Homepage</h3>

      </nav>
    </div>
  </header>
</div>
<main class="px-3">
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Express your views <a 
    class="text-white">Post manager</a>, by <a class="text-white">@mdo</a>.</p>
  </footer>
</div>